<!--

BODY
{
   background-color:#EFEFEF;
}

H1, H2, H3, TD
{
   font-family:Arial, sans-serif;
}


/*
** This controls the attributes of the BODY portion of the title frame.
*/ 

.clsTitleBody
{
   font-family:Arial, sans-serif;
   color:#FFFFFF;
   font-size:17pt;
   font-weight: bold;
   background-color:#336699;
}

/*
*  This controls the attributes for the BODY tag within the application. All JSP pages designate
*  the BODY tag as having this CSS class name.
*/
.clsContentsBody
{
   font-family:Arial, sans-serif;
   font-size:10pt;
   font-weight: bold;
   background-color:#6699CC;
}

.clsContentsBody A:link    { text-decoration: none; font-weight: bold; color: #FFFFFF; }
.clsContentsBody A:active  { text-decoration: none; font-weight: bold; color: #EFEFEF; }
.clsContentsBody A:visited { text-decoration: none; font-weight: bold; color: #FFFFFF; }
.clsContentsBody A:hover   { text-decoration: none; font-weight: bold; background: #CCCCCC; }


/*
** This controls the TD within the View Record Form.
*/

.clsViewCurrentRecord .vrTableRow TD
{
   font-family:Arial, sans-serif;
   color:black;
   font-size:10pt;
   font-weight: bold;
   background-color:#6699CC;
   text-align:left;
   vertical-align:bottom
}


/*
** This controls the edit fields within the row edit form generated by the Edit Current Record Data Web Bean.
*/
.clsViewCurrentRecord .vrTableRow .clsFieldValue
{
   font-family:Arial, sans-serif;
   color:black;
   font-size:10pt;
   font-weight: bold;
   background-color:white;
   text-align:left;
   vertical-align:bottom
}

/*
** This controls the look of all table detail cells generated by the HTML generation framework.
*/

.vrTableRow TD
{
   font-family:Arial, sans-serif; 
   color:black; 
   font-size:10pt; 
   font-weight: bold;
   background-color:white; 
   text-align:left;
   vertical-align:bottom
}

.clsTableRow TD
{
   font-family:Arial, sans-serif; 
   color:#000000; 
   font-size:10pt; 
   font-weight: bold;
   background-color:#FFFFFF; 
   text-align:left;
   vertical-align:bottom
}

.clsTableRow TH
{
   font-family:Arial, sans-serif; 
   color:#FFFFFF; 
   font-size:10pt; 
   font-weight: bold;
   background-color:#6699CC; 
   text-align:left;
   vertical-align:bottom 
}

.clsViewCurrentRecord .clsTableRow TD
{
   font-family:Arial, sans-serif; 
   color:#FFFFFF; 
   font-size:10pt; 
   font-weight: bold;
   background-color:#6699CC; 
   text-align:right;
   vertical-align:bottom 
}

.clsViewCurrentRecord .clsTableRow .clsFieldValue
{
   font-family:Arial, sans-serif;
   color:black;
   font-size:10pt;
   font-weight: bold;
   background-color:white;
   text-align:left;
   vertical-align:bottom
}


.clsTableRow A:link    { text-decoration: none; color: #336699; }
.clsTableRow A:active  { text-decoration: none; color: #EFEFEF; }
.clsTableRow A:visited { text-decoration: none; color: #336699; }
.clsTableRow A:hover   { text-decoration: none; background: #CCCCCC; }



/*
** When you enable the alternating colors feature for the HTML Table Control, this class controls the attributes of the odd row.
*/

.clsOddTableRow TD
{
   font-family:Arial, sans-serif; 
   color:black; 
   font-size:10pt; 
   font-weight: bold;
   background-color:white; 
   text-align:left;
   vertical-align:bottom
}

/*
** When you enable the alternating colors feature for the HTML Table Control, this class controls the attributes of the even row.
*/

.clsEvenTableRow TD
{
   font-family:Arial, sans-serif; 
   color:black; 
   font-size:10pt; 
   font-weight: bold;
   background-color:#EDEDED; 
   text-align:left;
   vertical-align:bottom
}

/*
** This class controls the attributes of the current row.
*/

.clsCurrentTableRow TD
{
   font-family:Arial, sans-serif; 
   font-size:10pt; 
   font-weight: bold;
   background:cyan; 
   text-align:left;
   vertical-align:bottom;
}

.clsCurrentTableRow A:link    { text-decoration: none; color: #336699; }
.clsCurrentTableRow A:active  { text-decoration: none; color: #EFEFEF; }
.clsCurrentTableRow A:visited { text-decoration: none; color: #336699; }
.clsCurrentTableRow A:hover   { text-decoration: none; background: #CCCCCC; }

/*
** Controls attributes of all table headers generated by the HTML generation framework.
*/

.vrTableHeader
{
   font-family:Arial, sans-serif; 
   color:#FFFFFF; 
   font-size:10pt; 
   font-weight: bold;
   background-color:#6699CC; 
   text-align:left;
   vertical-align:bottom 
}

.clsTableHeader
{
   font-family:Arial, sans-serif; 
   color:#FFFFFF; 
   font-size:10pt; 
   font-weight: bold;
   background-color:#6699CC; 
   text-align:left;
   vertical-align:bottom 
}

.clsToolBarButton
{
   font-family:Arial, Helvetica, Geneva, sans-serif; 
   color:#EFEFEF;
   font-size:13PT;
   font-weight:bold;
   background-color:#CCCCCC;
}
.clsToolBarButton A:link    { text-decoration: none; color: #336699; }
.clsToolBarButton A:active  { text-decoration: none; color: white; }
.clsToolBarButton A:visited { text-decoration: none; color: #336699; }
.clsToolBarButton A:hover   { text-decoration: none; color: white; }

.clsScroller
{
   font-family:Arial, Helvetica, Geneva, sans-serif; 
   color:#000000;
   font-size:8PT;
}

.clsScroller A:link    { text-decoration: none; color: #336699; }
.clsScroller A:active  { text-decoration: none; color: #CCCCCC; }
.clsScroller A:visited { text-decoration: none; color: #336699; }
.clsScroller A:hover   { text-decoration: none; background: #CCCCCC; }

.clsScroller .clsScrollerPager
{
   color:#6699CC;
   background-color:white;
}

/*
** controls the panel that contains the rounded corder table control. Please look at the HTML Table Control for more information.
*/

.PANEL, clsTable
{
   background-color:#EFEFEF 
}

/*
** These are reserved for future use
*/

.COLOR1 {
	background-color: #000000 }
.COLOR2 {
	background-color: #003366 }
.COLOR3 {
	background-color: #336699 }
.COLOR4 {
	background-color: #6699cc }
.COLOR5 {
	background-color: #99ccff }
.COLOR6 {
	background-color: #ffffff }
.COLORG2 {
	background-color: #333333 }
.COLORG3 {
	background-color: #666666 }
.COLORG4 {
	background-color: #999999 }
.COLORG5 {
	background-color: #cccccc }
.APPSWINDOW {
	background-color:#336699; }
.BISWINDOW {
	background-color:#FFFFFF }
.PRINTWINDOW {
	background-color:#FFFFFF }
.HOMEWINDOW {
	background-color:#FFFFFF }
.HIGHLIGHT {
	background-color:#FFFFFF }
.SHADOW {
	background-color:666666 }
.DARKSHADOW {
	background-color:333333 }

.CalendarTitle 
{
   font-family:Arial, Helvetica, Geneva, sans-serif;
   font-size:12pt;
   text-align:center;
   background-color:#cccccc;
   color:#336699
}

.CalendarHeader
{  
   font-family:Arial, Helvetica, Geneva, sans-serif;
   font-size:10pt;
   font-weight:bold;
   text-align:center;
   padding:2px;
   background-color:#6699CC;
   color:#FFFFFF;
}
.CalendarEnabled
{  
   font-family:Arial, Helvetica, Geneva, sans-serif;
   font-size:10pt;
   text-align:center;
   background-color:white;
   color:black;
   padding:2px;
   line-height:1.5;   
   text-decoration:none
}
.CalendarDisabled
{  
   font-family:Arial, Helvetica, Geneva, sans-serif;
   font-size:10pt;
   text-align:center;
   background-color:white;
   color:#999999;
   padding:2px;
   line-height:1.5;
   text-decoration:none
}
.CalendarSelected
{  
   font-family:Arial, Helvetica, Geneva, sans-serif;
   font-size:10pt;
   text-align:center;
   background-color:#336699;
   color:white;
   line-height:1.5;
   padding:2px
}

-->